.allekip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardekip {
    width: 45%;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    background-color: #3dffc8;
    margin-top: 4vh;
    cursor: pointer;
    height: 120px;
    display: flex;
    align-items: center;
}

.ekipimg {
    height: 6rem;
    width: 6rem;
    overflow: hidden;
    border-radius: 50%;
}

.ekipimg img {
    /* object-fit: cover; */
    height: 100%;
}