body {
    background-image: url("https://rare-gallery.com/mocahbig/440793-Zelda-The-Legend-of-Zelda-Breath-of-the-Wild.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100dvw;
    overflow-x: hidden;
    overflow-y: scroll;
}