body {
    background-image: url('./img/botw.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100dvw;
    overflow: hidden;
}

.App {
    display: flex;
}

.element {
    height: 100dvh;
    width: 80dvw;
    overflow: scroll;
}

.theside {
    
}